.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;

}

.carousel-caption h3 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #2B9348;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link .active>.navbar-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #2B9348;
    font-weight: 600;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #2B9348 !important;
}

w-100 {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        background: #2b934844;
    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}

.about {
    margin-top: 80px;
    background: rgb(43, 147, 72);
    background: linear-gradient(0deg, rgba(43, 147, 72, 1) 25%, rgba(255, 255, 255, 1) 78%);
}

.about h1,
h3 {
    color: #2B9348;
}

.about h3 {
    
    font-size: 24px;
    font-weight: bold;
}

#team img {
    margin-top: -50px;
}

#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #0b2e15;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #38af5a;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #0b2e15;
}
#team .card:hover h3, #team .card:hover i {
    color: #fff;
}

.container-shop{
    margin-top: 150px;
    height: 50vh;
    
}

.new-arival{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2{
    color: #555;
}

.stars {
    height: 20px;
}

.price{
    color: #FE980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.cart{
    background-color: #2B9348;
    color: rgb(248, 248, 248);
    font-size: 15px;
    margin-left: 20px;
}

.gradient{
    background: rgb(43, 147, 72);
    background: linear-gradient(0deg, rgba(43, 147, 72, 1) 25%, rgba(255, 255, 255, 1) 78%);
}

.text-highlight{
    background: #2b934879;
    color: white;
}

.nothing{
    display: inline-block;
    height: 300px;
}
